<a href="https://colab.research.google.com/github/Agustin841155/ORM-basic-examples/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Librerias necesarias.

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import insert, select, update, delete

creacion de la Base de datos y conexion con la base de datos.

In [ ]:
engine = create_engine('sqlite:///prueba.db')

Definicion de la estructura de la base de datos.

In [ ]:
  metadata = MetaData()

Creacion de tabla para la base de datos.

In [ ]:
clientes = Table(
    'clientes', metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String, nullable = False),
    Column('email', String, nullable = False)
)

ejecucion del modelo anterior hacia la base de datos

In [ ]:
metadata.create_all(engine)

Insertar valores dentro de la tabla

In [ ]:
stmt = insert(clientes).values(nombre="Cliente 1", email="cliente1@gmail.com")
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

ejecucion del stmt

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)

insercion de varios registros a la tabla

In [ ]:
data = [
    {"nombre":"Cliente 2", "email":"cliente2@gmail.com"},
    {"nombre":"Cliente 3", "email":"cliente3@gmail.com"},
    {"nombre":"Cliente 4", "email":"cliente4@gmail.com"},
]
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

ejecucion de stmt de insercion de varios registros.

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)

Consulta de select a la base de datos.

In [ ]:
stmt = select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

imprimir los resultados de la consulta anterior (select)

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente 1', 'cliente1@gmail.com')
(2, 'Cliente 2', 'cliente2@gmail.com')
(3, 'Cliente 3', 'cliente3@gmail.com')
(4, 'Cliente 4', 'cliente69@gmail.com')

Consulta para hacer un select especifico de una tabla

In [ ]:
stmt = select(clientes).where(clientes.c.id_cliente.like('%2'))
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes
WHERE clientes.id_cliente LIKE :id_cliente_1

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)
  for row in result.fetchall():
    print(row)

(2, 'Cliente 2', 'cliente2@gmail.com')

Realizacion de un update.

In [ ]:
stmt = (
    update(clientes).where(clientes.c.id_cliente== 4).
    values(email='cliente69@gmail.com')
)

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)

In [ ]:
stmt = select(clientes)

In [ ]:
with engine.connect() as conn:
  result = conn.execute(stmt)
  for row in result.fetchall():
    print(row)