<a href="https://colab.research.google.com/github/Agustin841155/ORM-basic-examples/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Librerias necesarias.

In [2]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import insert, select, update, delete

creacion de la Base de datos.

In [3]:
engine = create_engine('sqlite:///prueba.db')

Definicion de la estructura de la base de datos.

In [4]:
metadata = MetaData()

Creacion de tabla para la base de datos.

In [5]:
clientes = Table(
    'clientes', metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String, nullable = False),
    Column('email', String, nullable = False)
)

ejecucion del modelo anterior hacia la base de datos

In [6]:
metadata.create_all(engine)

Insertar valores dentro de la tabla

In [7]:
stmt = insert(clientes).values(nombre="Cliente 1", email="cliente1@gmail.com")
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

ejecucion del stmt

In [8]:
with engine.connect() as conn:
  result = conn.execute(stmt)

insercion de varios registros a la tabla

In [9]:
data = [
    {"nombre":"Cliente 2", "email":"cliente2@gmail.com"},
    {"nombre":"Cliente 3", "email":"cliente3@gmail.com"},
    {"nombre":"Cliente 4", "email":"cliente4@gmail.com"},
]
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

ejecucion de stmt de insercion de varios registros.

In [10]:
with engine.connect() as conn:
  result = conn.execute(stmt)

Consulta de select a la base de datos.

In [13]:
stmt = select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

imprimir los resultados de la consulta anterior (select)

In [15]:
with engine.connect() as conn:
  result = conn.execute(stmt)
  for row in result.fetchall():
    print(row)

(1, 'Cliente 1', 'cliente1@gmail.com')
(2, 'Cliente 2', 'cliente2@gmail.com')
(3, 'Cliente 3', 'cliente3@gmail.com')
(4, 'Cliente 4', 'cliente4@gmail.com')